# Database
POSTGRES_URL=jdbc:postgresql://localhost:5432/ticketa
POSTGRES_USER=ticketa
POSTGRES_PASSWORD=ticketa123

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

JWT_SECRET=supersecretkeychangeinproduction1234567890
JWT_EXPIRATION=86400000